@import url(https://fonts.googleapis.com/css?family=Merriweather);


.wrapper{
	position: absolute;
	display: block;
	z-index: 1000;
	left: 0;
	top: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(164, 168, 173, 0.6);
	font-family: 'Merriweather', Bookman;
	text-align: center;
}

.title{
	position: absolute;
	display: block;
	top: 3%;
	left: 25%;
	font-size: 5.5vmin;
}

.divider{
	position: absolute;
	display: block;
	height: 2px;
	left: 3%;
	top: 26%;
	width: 94%;
	background-color: black;
}

.mainCont{
	position: absolute;
	left: 25%;
	top: 20%;
	width: 50%;
	max-width: 530px;
	height: 50%;
	background-color: white;
	border-style: double;
	border-width: 5px;
}

.infoCont{
	position: absolute;
	display: block;
	top: 35%;
	left: 26%;
	font-size: 3.25vmin;
	text-align: center;
}

.orDiv{
	margin: 0 auto;
}

.close{
	position: absolute;
	left: 75%;
	top: 12%;
	height: 6%;
	width: 4%;
	background-color: rgba(95, 99, 107, 0.95);
	color: white;
	font-family: Helvetica;
	font-size: 3vmin;
	border-radius: 3px;
}

.close:hover{
	cursor: pointer;
	background-color: rgba(247, 249, 252, 0.9);
	color: black;
}

.x{
	position: absolute;
	left: 35%;
	top: 20%;
}

